*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Angular and Node
/build/
dist/
out/
.DS_Store
node_modules/
bower_components/
npm-debug.log

# Intellij
/.idea/
*.iml
/src/main/java/Main.java
/src/main/java/SpotifyCredentials.java

