<md-content class="autoScroll" ng-cloak>
    <hgroup>
        <h1>Create Quiz</h1>
        <h3>Enter quiz details</h3>
    </hgroup>

    <form name="form" ng-submit="createQuiz()">
        <div class="group">
            <md-input-container md-no-float class="md-block">
                <input type="text" ng-model="name" name="name" placeholder="Quiz name" ng-minlength="3" ng-maxlength="15" required>
                <div ng-messages="form.name.$error" ng-if="form.name.$dirty">
                    <div ng-message="required">Required</div>
                    <div ng-message="minlength">The Quiz name need to be at least 3 characters</div>
                    <div ng-message="maxlength">The Quiz name can be at most 15 characters</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float class="md-block">
                <input type="number" ng-model="nbrOfQuestions" name="nbrOfQuestions" placeholder="No. Questions" required>
                <div ng-messages="form.nbrOfQuestions.$error" ng-if="form.nbrOfQuestions.$dirty">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>

            <md-switch ng-model="shuffle" aria-label="Shuffle tracks">
                Shuffle tracks
            </md-switch>

        </div>

        <div class="buttonHolder">
            <md-button type="submit" ng-disabled="loading || !form.name.$valid || !form.nbrOfQuestions.$valid" class="md-fab md-primary">
                <md-icon class="material-icons">navigate_next</md-icon>
            </md-button>
        </div>

        <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>
    </form>
</md-content>