<div layout="row" layout-align="center">
    <md-content ng-cloak>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="/1" name="standard">Playlist</md-nav-item>
            <md-nav-item md-nav-href="/2" name="generate">Generate</md-nav-item>
            <md-nav-item md-nav-href="/3" name="featured">Featured</md-nav-item>
            <md-nav-item md-nav-href="/4" name="popular">Popular</md-nav-item>
        </md-nav-bar>
    </md-content>
</div>