<md-content class="autoScroll" ng-cloak>
    <div class="home">

        <hgroup>
            <h1>Charlie</h1>
            <h3>Log in with Spotify to create a new music quiz</h3>
        </hgroup>

        <br>

        <div id="center">
            <md-button ng-click="login()" class="md-raised md-primary">Log in</md-button>

            <!--<h3>or</h3>-->

            <!--<a ui-sref="main.join">-->
                <!--<md-button class="md-raised md-primary">Join quiz</md-button>-->
            <!--</a>-->
        </div>

        <footer>
            <p>Powered by</p>
            <a href="http://spotify.com" target="_blank"><img src="../img/Spotify_Icon_RGB_Green.png" height="42" width="42"></a>
        </footer>

    </div>

</md-content>
