<md-content class="autoScroll" ng-cloak>
    <md-toolbar md-scroll-shrink id="lobby" class="md-accent md-hue-2">
        <div class="md-toolbar-tools"><span><md-icon aria-label="Menu" class="material-icons">home</md-icon>Home</span></div>
    </md-toolbar>
    <h4>
        <md-icon aria-label="Menu" class="material-icons" id="music_note">music_note</md-icon>
        Charlie is a musical adventure through songs related to your favourite playlists. 
    </h4>

    <br>

    <div align="center" ng-show="isLoggedIn()">
    <md-input-container>
        <label>Join code</label>
        <input type="text" width="100px" ng-model="joinText" ng-change="joinTextChange()">
    </md-input-container>
    </div>

    <div ng-cloak class="end">
        <md-button class="md-accent md-raised" ng-click="changeView()" ng-show="isLoggedIn()">{{ beginButton }}</md-button>
    </div>
</md-content>  
