<md-content class="autoScroll" ng-cloak>

    <hgroup>
        <h1>Charlie</h1>
        <h3>Create a new music quiz or join an existing one</h3>
    </hgroup>

    <br>

    <div id="center">
        <a ui-sref="main.create.choosePlaylist">
            <md-button class="md-raised md-primary">Create quiz</md-button>
        </a>

        <h3>or</h3>

        <a ui-sref="main.join">
            <md-button class="md-raised md-primary">Join quiz</md-button>
        </a>
    </div>

    <footer>
        <p>Powered by</p>
        <a href="http://spotify.com" target="_blank"><img src="../img/Spotify_Icon_RGB_Green.png" height="42" width="42"></a>
    </footer>

</md-content>