<md-content class="autoScroll" ng-cloak>

    <hgroup>
        <h1>Join Quiz</h1>
        <h3>Enter your code below to join a quiz</h3>
    </hgroup>

    <form name="codeForm">
        <div class="group">
            <md-input-container md-no-float class="md-block">
                <input type="text" ng-model="displayName" placeholder="Name" ng-minlength="4" ng-maxlength="10" required>
            </md-input-container>

            <md-input-container md-no-float class="md-block">
                <input type="text" ng-model="joinCode" placeholder="Code"  ng-minlength="5" ng-maxlength="10" required>
            </md-input-container>
        </div>

        <div class="buttonHolder">
            <md-button class="md-fab md-primary" ng-click="changeView()">
                <md-icon class="material-icons">navigate_next</md-icon>
            </md-button>
        </div>

        <div ng-messages="codeForm.displayName.$error" role="alert">
            <div ng-message="required">Please enter a value for this field.</div>
            <div ng-message="minlength">This field needs to be at least 4 characters long.</div>
            <div ng-message="maxlength">This field can be at most 10 characters long.</div>
        </div>

        <div ng-messages="codeForm.joinCode.$error" role="alert">
            <div ng-message="required">Please enter a value for this field.</div>
            <div ng-message="minlength">This field needs to be at least 5 characters long.</div>
            <div ng-message="maxlength">This field can be at most 10 characters long.</div>
        </div>

        <md-progress-linear ng-show="fetching" md-mode="indeterminate"></md-progress-linear>
    </form>

    <footer>
        <p>Powered by</p>
        <a href="http://spotify.com" target="_blank"><img src="../img/Spotify_Icon_RGB_Green.png" height="42" width="42"></a>
    </footer>

</md-content>