<md-content ng-cloak>

    <hgroup>
        <h1>Charliequiz - {{quizname}}</h1>
        <h3 ng-show="isOwner">Users can now join with {{id}}</h3>
        <h3 ng-show="!isOwner">Welcome to {{owner}} quiz!</h3>
    </hgroup>

    <br>

    <div align="center">
        <h1>Quiz details</h1>
        <h3>Blah blah</h3>
    </div>

    <br>

    <div class="lobby">
        <div align="center">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <form name="form">
            <div class="group">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="user in users" ng-disabled="true">
                        <div class="md-list-item-text" layout="column">
                            <div class="item">
                                <h3>{{ user.userID }}</h3>
                                <p ng-if="user.spotify===true">Joined with Spotify account</p>
                                <p ng-if="user.spotify===false">Joined with username</p>
                            </div>
                            <md-divider ></md-divider>
                        </div>
                        <md-icon class="material-icons {{user.color}}">person</md-icon>
                    </md-list-item>
                </md-list>
            </div>
        </form>
    </div>

    <div class="end" ng-show="isOwner">
        <md-button class="md-primary md-raised" ng-click="startQuiz()">START QUIZ</md-button>
    </div>
</md-content>