* {
    box-sizing:border-box;
}

body {
    background: #ffffff;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

md-content {
    background: #ffffff;
}

p {
    text-align: left;
}

h1, h3, input {
    font-weight: 300 !important;
}

h1 {
    color: #636363;
}

h3 {
    color: #4a89dc;
}

hgroup {
    text-align:center;
    margin-top: 4em;
}

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}

form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

input {
    font-size: 25px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    text-align: center;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

h2 img {
    height: 30px;
}

md-list {
    padding: 0 !important;
}

.menu {
    cursor: pointer;
}

md-toast {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.md-toast-content {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 1em;
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    z-index: 100;
}

md-content {
    overflow:visible;
}

div .end {
    width: 100%;
}

div .end .md-button {
    min-width: 100%;
    min-height: 4em;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    background: rgb(63,81,181) !important;
}

div .end .status {
    min-width: 100%;
    min-height: 4em;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    background: rgb(63,81,181);
    font-size: 18px;
    color:#eee;
    text-align:center;
    line-height: 4em;
}

span {
    margin-left: 7px;
}

span md-icon {
    margin-top: -0.12em;
    margin-right: 0.5em;
}

.gray {
    background: #f5f5f5; 
}
.green {
    background: #80CBC4; 
}
.yellow {
    background: #FFEB3B;
}
.blue {
    background: #8C9EFF; 
}
.red {
    background: #FF8A80; 
}

.gray-avatar {
    color: #f5f5f5; 
}
.green-avatar {
    color: #4CAF50;
}
.orange-avatar {
    color: #FFC107;
}
.blue-avatar {
    color: #3F51B5; 
}
.red-avatar {
    color: #F44336;
}
.purple-avatar {
    color: #9C27B0;
}
.teal-avatar {
    color: #009688;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

footer p {
    color: #888;
    font-size: 13px;
    letter-spacing: .4px;
    text-align: center;
}

footer a {
    color: #4a89dc;
    text-decoration: none;
    transition: all .2s ease;
}

footer a:hover {
    color: #666;
    text-decoration: underline;
}

footer img {
    transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }

