body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #1f1f1f;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

p {
    text-align: left;
}

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}

h2 img {
    height: 30px;
}

md-list {
    padding: 0 !important;
}

.menu {
    cursor: pointer;
}

/* Cont Style */

/*.views-cont {
    margin: 1em;
}*/

/* TOAST */
md-toast {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.md-toast-content {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 1em;
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    z-index: 100;
}

md-content {
    overflow:visible;
}

div .end {
    width: 100%;
}

div .end .md-button {
    min-width: 100%;
    min-height: 4em;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    background: rgb(63,81,181) !important;
}

div .end .status {
    min-width: 100%;
    min-height: 4em;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    background: rgb(63,81,181);
    font-size: 18px;
    color:#eee;
    text-align:center;
    line-height: 4em;
}

span {
    margin-left: 7px;
}

span md-icon {
    margin-top: -0.12em;
    margin-right: 0.5em;
}
.gray {
    background: #f5f5f5; 
}
.green {
    background: #80CBC4; 
}
.yellow {
    background: #FFEB3B;
}
.blue {
    background: #8C9EFF; 
}
.red {
    background: #FF8A80; 
}
.gray-text {
    color: #f5f5f5; 
}
.green-text {
    color: #009688;
}
.yellow-text {
    color: #FFEB3B;
}
.blue-text {
    color: #3F51B5; 
}
.red-text {
    color: #F44336; 
}

