<style>
    @keyframes rotate360 {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    @-webkit-keyframes rotate360 {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }

    .spinner {
        display:inline-block;
        border-radius: 50px;
        border-style: solid;
        border-bottom-color: #3b5641;
        border-top-color: #67b3a9;
        border-left-color: #df7950;
        border-right-color: #decb3f;
        text-align: center;
        vertical-align: middle;
        position: relative;
        animation: rotate360 1s linear infinite;
        -webkit-animation: rotate360 1s linear infinite;

        border-width: 4px;
        width: 24px;
        height: 24px;
    }

    form {
        padding: 1em;
        margin-bottom: 5em;
    }

    .end {
        margin: -1em;
    }

    md-input-container h5 {
        color: rgba(0,0,0,0.26);
        font-weight: 900;
        margin-left: 2px;
        font-size: 104%;
    }

    .md-chips {
        color: rgba(0,0,0,0.26);
        font-weight: 900;
        margin-left: -8px;
        font-size: 104%;
    }

    .md-chips .md-chip .md-chip-remove md-icon {
        position: absolute;
        top: 43%;
        left: 50%;

    }
</style>
<md-content class="autoScroll" ng-cloak>
    <md-toolbar md-scroll-shrink id="lobby" class="md-accent md-hue-2">
        <div class="md-toolbar-tools"><span><md-icon aria-label="Menu" class="material-icons">fiber_new</md-icon>Create quiz</span></div>
    </md-toolbar>
    <form ng-submit="submit()">
        <md-input-container class="md-block">
            <label>Quiz name</label>
            <input ng-model="name" aria-label="name">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Number of questions</label>
            <input ng-model="nbrOfQuestions" aria-label="number of questions">
        </md-input-container>
        <md-input-container class="md-block">
            <label></label>
            <md-chips
                ng-model="tags"
                readonly="readonly"
                placeholder="+Friend"
                delete-button-label="Remove Tag"
                delete-hint="Press delete to remove tag"
                secondary-placeholder="Enter a Friend">
            </md-chips>
        </md-input-container>
        <md-input-container class="md-block">
            <md-switch ng-model="toggleSwitch" aria-label="Generated quiz">
                Generated songs
            </md-switch>
        </md-input-container>
        <md-input-container class="md-block">
            <h5>Choose playlist</h5>

            <md-radio-group ng-model="playlistSelected" id="playlists">
                <md-radio-button ng-repeat="playlist in playlists" ng-value="playlist" class="md-primary">{{playlist.name}}</md-radio-button>
            </md-radio-group>

        </md-input-container>
        <div class="end">
            <md-button type="submit" class="md-primary md-raised">
                <span ng-hide="loading">CREATE</span>
                <div class="spinner" ng-show="loading"></div>
            </md-button>
        </div>
    </form>
</md-content>