<style>
    md-content {
        margin: -1em;
    }

    form {
        padding: 1em;
    }
    
    span {
        margin-left: 7px;
    }

    span md-icon {
        margin-top: -0.12em;
        margin-right: 0.6em;
    }

    md-input-container h5 {
        color: rgba(0,0,0,0.26);
        font-weight: 900;
        margin-left: 2px;
        font-size: 104%;
    }

    .md-chips {
        color: rgba(0,0,0,0.26);
        font-weight: 900;
        margin-left: -8px;
        font-size: 104%;
    }

    .md-chips .md-chip .md-chip-remove md-icon {
        position: absolute;
        top: 43%;
        left: 50%;
    }
    
    div .end {
        width: 100%;
        margin: -1em;
    }

    div .end .md-button {
        min-width: 100%;
        min-height: 3em;
        padding: 0;
        margin: 0;
        position: fixed;
        bottom: 0px;
        background: #1A237E !important;
    }
</style>
<md-content class="autoScroll" ng-cloak>
    <md-toolbar md-scroll-shrink id="lobby" class="md-accent md-hue-2">
        <div class="md-toolbar-tools"><span><md-icon aria-label="Menu" class="material-icons">fiber_new</md-icon>Create quiz</span></div>
    </md-toolbar>
    <form ng-submit="submit()">
        <md-input-container class="md-block">
            <label>Quiz name</label>
            <input ng-model="name" aria-label="name">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Number of questions</label>
            <input ng-model="nbrOfQuestions" aria-label="number of questions">
        </md-input-container>
        <md-input-container class="md-block">
            <md-switch ng-model="toggleSwitch" aria-label="Generated quiz">
                Generated-quiz
            </md-switch>
        </md-input-container>
        <md-input-container class="md-block">
            <h5>Choose playlist</h5>

            <md-radio-group ng-model="playlistSelected" id="playlists">
                <md-radio-button ng-repeat="playlist in playlists" ng-value="playlist" class="md-primary">{{playlist.name}}</md-radio-button>
            </md-radio-group>

        </md-input-container>
        <md-input-container class="md-block">
            <label></label>
            <md-chips
                    ng-model="tags"
                    readonly="readonly"
                    placeholder="+Friend"
                    delete-button-label="Remove Tag"
                    delete-hint="Press delete to remove tag"
                    secondary-placeholder="Enter a Friend">
            </md-chips>
        </md-input-container>
        <div class="end">
            <md-button type="submit" class="md-primary md-raised">CREATE</md-button>
        </div>
    </form>
</md-content>