<style>
    md-content {
        margin: -1em;
    }

    span md-icon {
        margin-top: -0.12em;
        margin-right: 0.5em;
    }

    .dialogdemoBasicUsage #popupContainer {
        position: relative; }
    .dialogdemoBasicUsage .footer {
        width: 100%;
        text-align: center;
        margin-left: 20px; }
    .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
        font-size: 0.8em;
        margin-top: 50px; }
</style>
<md-content ng-cloak>
    <md-toolbar md-scroll-shrink id="lobby" class="md-accent md-hue-2">
        <div class="md-toolbar-tools"><span><md-icon aria-label="Menu" class="material-icons">people</md-icon>{{quizname}}</span></div>
    </md-toolbar>

    <md-list>
        <md-list-item ng-repeat="user in users">
            {{user.name}}
        </md-list-item>
    </md-list>


    <md-button class="md-primary md-raised" data-toggle="modal" data-target=".bs-example-modal-sm" flex="100"  flex-gt-md="auto">
        Confirm Dialog
    </md-button>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <p> Simon want's to play a quiz with you, do you wanna play?</p>
                <md-button class="md-primary md-raised" flex="100"  flex-gt-md="auto" ng-click="goToGameLobby()">
                    Yes
                </md-button>
                <md-button class="md-primary md-raised" flex="100"  flex-gt-md="auto" ng-click="hideModal()">
                    No
                </md-button>
            </div>
        </div>
    </div>
    <md-button class="md-primary md-raised" ng-click="startQuiz()">START QUIZ</md-button>

</md-content>