<style>
    
    span {
        margin-left: 7px;
    }

    span md-icon {
        margin-top: -0.12em;
        margin-right: 0.5em;
    }

    .dialogdemoBasicUsage #popupContainer {
        position: relative; }
    .dialogdemoBasicUsage .footer {
        width: 100%;
        text-align: center;
        margin-left: 20px; }
    .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
        font-size: 0.8em;
        margin-top: 50px; }
    
</style>
<md-content ng-cloak>
    <md-toolbar md-scroll-shrink id="lobby" class="md-accent md-hue-2">
        <div class="md-toolbar-tools"><span><md-icon aria-label="Menu" class="material-icons">people</md-icon>{{quizname}}</span></div>
    </md-toolbar>

    <md-list layout="column" layout-align="center center">
        <md-list-item ng-repeat="user in users" style="font-size:1.8em;margin-top:10px;">
            {{user.name}}
        </md-list-item>
    </md-list>
    <div class="end">
        <md-button class="md-primary md-raised" ng-click="startQuiz()">START QUIZ</md-button>
    </div>
</md-content>