<md-content class="autoScroll">

    <h1>{{user.id}}</h1>
    <img />
    <md-list>
        <md-list-item class="ng-scope" layout="row" layout-align="start center">
            <div class="inset ng-binding">{{user.href}}</div>
        </md-list-item>
        <md-list-item class="ng-scope" layout="row" layout-align="start center">
            <div class="inset ng-binding">{{user.href}}</div>
        </md-list-item>
        <md-list-item class="ng-scope" layout="row" layout-align="start center">
            <div class="inset ng-binding">{{user.href}}</div>
        </md-list-item>
        <md-list-item class="ng-scope" layout="row" layout-align="start center">
            <div class="inset ng-binding">{{user.href}}</div>
        </md-list-item>
    </md-list>

</md-content>