<style>
	.active{
		color: red;
	}
</style>
<div>
	<div ng-cloak>
		<h1>Who´s the artist?</h1>
		<br>
		<h3>{{determinateValue}}</h3>
		<md-progress-linear md-mode="indeterminate" value="{{detValue}}"></md-progress-linear>

		<br>
	</div>

	<section layout="row" layout-align="center center">
		<section layout="column" layout-align="center center" ng-repeat="sug in suggestions">
			<md-button md-disable="true" ng-disabled="isDisabled" md-class="md-primary" ng-click="selectedAnswer(sug)">{{sug.artist}}</md-button>
		</section>
	</section>
	<!--
	<section layout="row" layout-align="center center">
		<section layout="column" layout-align="center center" ng-repeat="sug in suggestions" ng-class="{active : isSelected(suggestion)}">
			<md-button md-disable="true" md-class="md-primary" ng-click="setAnswer(sug)">{{sug.artist}}</md-button>
		</section>
	</section> -->
</div>