<style>
	md-grid-list {
		margin: 8px; }
	.gray {
		background: #f5f5f5; }
	.green {
		background: #b9f6ca; }
	.yellow {
		background: #ffff8d;}
	.blue {
		background: #84ffff; }
	.red {
		background: #ff8a80; }
	.md-grid-tile {
		transition: all 400ms ease-out 50ms; }

	md-grid-tile:focus {
		outline: none;
	}

	#selected:hover {
		cursor: default;
	}

	#notSelected:hover {
		cursor: pointer;
	}

	md-content {
		margin: -1em;
	}

	span md-icon {
		margin-top: -0.12em;
		margin-right: 0.5em;
	}

	.detValue {
		margin: 0 auto;
		text-align: center;
		font-size: 2em;
		padding: 0.4em 0 0.28em 0;
	}

</style>
<md-content ng-cloak>
    <!--<audio controls ng-src="{{currentTrack}}"></audio>-->
	<md-toolbar md-scroll-shrink id="lobby" class="md-accent md-hue-2">
		<div class="md-toolbar-tools"><span><md-icon aria-label="Menu" class="material-icons">hearing</md-icon>Who is the artist?</span></div>
	</md-toolbar>
	<div ng-cloak>
		<h3 class="detValue">{{determinateValue}}</h3>
		<md-progress-linear md-mode="indeterminate" value="{{detValue}}"></md-progress-linear>
		<br />
	</div>
	<md-grid-list
			md-cols-xs="2" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
			md-row-height-gt-md="4:4" md-row-height="2:2"
			md-gutter="0" md-gutter-gt-sm="0">
		<md-grid-tile ng-repeat="sug in suggestions" class="{{setColor($index)}}" id={{retriveCursor()}}
					  ng-click="selectedAnswer(sug, $index)" md-disable="true" ng-disabled="isDisabled($index)">
			<md-button id="{{$index}}" md-disable="true" ng-disabled="isDisabled($index)" md-class="md-primary"
					   ng-click="selectedAnswer(sug, $index)">{{sug.artist}}</md-button>
		</md-grid-tile>
	</md-grid-list>
	<!--
	<section layout="row" layout-align="center center">
		<section layout="column" layout-align="center center" ng-repeat="sug in suggestions" ng-class="{active : isSelected(suggestion)}">
			<md-button md-disable="true" md-class="md-primary" ng-click="setAnswer(sug)">{{sug.artist}}</md-button>
		</section>
	</section> -->
</md-content>