<style>
    .user{
        width: 100%
    }
    #player1{
        color: #F7464A;
    }
    #player2{
        color: #46BFBD;
    }
    #player3{
        color: #FDB45C;
    }
    #player4{
        color: #B48EAD;
    }
</style>

<div layout="column" layout-margin>
	<div flex>
            <canvas id="scoreboardChart" width="200" height="200"></canvas>
            <br>
        </div>
        <div layout="row">
            <div class="user" ng-repeat="person in scoreData">
                <md-icon aria-label="Menu" class="material-icons" style="color:{{person.color}};}">person</md-icon>
                <p>{{person.userName}}</p>
            </div>
	</div>
	<md-button ng-href="/#/" class="md-primary">Go to main menu</md-button>
</div>