<style>
    .user{
        width: 100%
    }
    #first{
        color: #F7464A;
    }
    #second{
        color: #46BFBD;
    }
    #third{
        color: #FDB45C;
    }
    #fourth{
        color: #B48EAD;
    }
</style>

<div layout="column" layout-margin>
	<div flex>
            <canvas id="scoreboardChart" width="200" height="200"></canvas>
            <br>
        </div>
        <div layout="row">
            <div class="user">
                <md-icon aria-label="Menu" class="material-icons" id="first">person</md-icon>
                <p>Simon</p>
            </div>
            <div class="user">
                <md-icon aria-label="Menu" class="material-icons" id="second">person</md-icon>
                <p>Erik</p>
            </div>
            <div class="user">
                <md-icon aria-label="Menu" class="material-icons" id="third">person</md-icon>
                <p>Joakim</p>
            </div>
            <div class="user">
                <md-icon aria-label="Menu" class="material-icons" id="fourth">person</md-icon>
                <p>Tim</p>
            </div>
	</div>
	<md-button ng-href="/#/" class="md-primary">Go to main menu</md-button>
</div>