<style>
    .user{
        width: 100%
    }
    #player1{
        color: #F7464A;
    }
    #player2{
        color: #46BFBD;
    }
    #player3{
        color: #FDB45C;
    }
    #player4{
        color: #B48EAD;
    }
    
    md-content {
        text-align: center;
    }
    
    md-list-item {
        max-width: 70%;
        text-align: center;
        margin:  0 auto;
    }
    
    md-list-item .md-icon {
        text-align: center;

    }
    
    md-list-item p{
        text-align: center;
        margin-top: 5px;
    }
    
    md-content {
            margin: -1em;
    }

    span {
    margin-left: 7px;
    }

    span md-icon {
            margin-top: -0.12em;
            margin-right: 0.5em;
    }
    
    div .chart {
        margin: 1.5em 0 1.2em 0;
    }
    
    div .end {
        width: 100%;
        margin: -1em;
    }

    div .end .md-button {
        min-width: 100%;
        min-height: 3em;
        padding: 0;
        margin: 0;
        position: fixed;
        bottom: 0px;
        background: #1A237E !important;
    }
</style>

<md-content>
    	<md-toolbar md-scroll-shrink id="lobby" class="md-accent md-hue-2">
		<div class="md-toolbar-tools"><span><md-icon aria-label="Menu" class="material-icons">poll</md-icon>Scoreboard</span></div>
	</md-toolbar>
	<div flex class="chart">
            <canvas id="scoreboardChart" width="200" height="200"></canvas>
            <br>
        </div>
        <md-list>
            <md-list-item class="user" ng-repeat="person in scoreData">
                <md-icon aria-label="Menu" class="material-icons" style="color:{{person.color}}">person</md-icon>
                <p style="font-weight: 900; color:{{person.color}}">{{person.userName}}</p>
                <p>{{person.value}} {{person.value == 1 ? "point" : "points"}}</p>
            </md-list-item>
	</md-list>
</md-content>
<div><md-button ng-click="savePlaylist()" class="md-primary md-raised">Save songs to playlist</md-button></div>
<div class="end">
    <md-button ng-click="changeView('/')" class="md-primary md-raised">GO TO HOME</md-button>
    
</div>