#centerContainer {
    background: #ffffff;
}

.md-block {
    margin-bottom: 20px;
}

.group {
    position: relative;
}

.buttonHolder{
    text-align: right;
    margin-bottom: 12px;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}