#music_note{
    color:rgb(245,0,87);
    font-size:145px;
    height:145px;
    width:145px;
    margin-top:50px;
    margin-bottom:40px;
    display:block;
}

h4 {
    text-align: center;
}

label
{
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

input
{
    width: 200px;
    vertical-align: middle;
    font-size: x-large;
    text-align: center;
}