* { box-sizing:border-box; }

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 70px;
}

hgroup {
    text-align:center;
    margin-top: 4em;
}

h1, h3, input { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.md-block {
    margin-bottom: 20px;
}

.group {
    position: relative;
}

.buttonHolder{
    text-align: right;
    margin-bottom: 12px;
}

input {
    font-size: 35px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    text-align: center;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

footer p {
    color: #888;
    font-size: 13px;
    letter-spacing: .4px;
    text-align: center;
}

footer a {
    color: #4a89dc;
    text-decoration: none;
    transition: all .2s ease;
}

footer a:hover {
    color: #666;
    text-decoration: underline;
}

footer img {
    transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }
