span {
    margin-left: 7px;
}

.lobby md-progress-linear .md-container {
    width: 380px;
    min-width: 40%;
    max-width: 100%;
}

.lobby form {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
}

span md-icon {
    margin-top: -0.12em;
    margin-right: 0.5em;
}